{% extends 'base_generic.html' %}

{% block content %}
<!-- Page top section -->
{% load static %}
<section class="page-top-section set-bg" data-setbg="{% static 'images/page-top-bg/4.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="page-top-text text-white">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page top section end -->

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="contact-info-box-crud">
                    <form action="" method="POST" class="contact-form">
                        <h5 class="contact-title">CAMBIAR CONTRASEÑA</h5>
                        <p>Hemos enviado las instrucciones para el cambio de contraseña al correo correspondiente. 
                            Si estas no llegan en unos minutos, por favor revisar la carpeta de SPAM o correo no deseado.
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}