{% extends 'base_generic.html' %}

{% block content %}
<!-- Page top section -->
{% load static %}
<section class="page-top-section set-bg" data-setbg="{% static 'images/page-top-bg/4.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="page-top-text text-white">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page top section end -->

<section class="contact-section">
        <div class="contact-info-box-propiedad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 offset-lg-5">
                        <h2>Lista de instancias</h2>
                        <br>
                        {% if departamentoinstance_list %}
                        <ul>
                            {% for departamentoinstance in departamentoinstance_list %}
                            <li>
                                Instancia: <a href="{{ cliente.get_absolute_url }}">{{ departamentoinstance.id }}</a> - Status: {{ departamentoinstance.status }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <p>No existen instancias en la lista.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}