{% extends 'base_generic.html' %}

{% block content %}
<!-- Page top section -->
{% load static %}
<section class="page-top-section set-bg" data-setbg="{% static 'images/page-top-bg/4.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="page-top-text text-white">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page top section end -->

<section class="contact-section">
    <div class="contact-info-box-propiedad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                        <h2>Instancia de departamento: {{ departamentoinstance }} </h2>
                        <br>
                        <p><strong>Id: </strong>{{departamentoinstance.id}}</p>
                        <p><strong>Departamento: </strong><a href=""></a>{{departamentoinstance.departamento}}</p>
                        <p><strong>Fecha instancia: </strong>{{departamentoinstance.fecha_instancia}}</p>
                        <p><strong>Status: </strong>{{departamentoinstance.status}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}